---
layout: default
title: "易_692"
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="blog{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
