<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}"/blog>
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/blog/rss+xml" title="{{ site.name }}" href="{{ site.url }}/blog/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/blog/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/blog/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">HOME</a>
            <a class="extra" href="/wiki">WIKI</a>
            <a class="extra" href="/bookmarks" target="_blank">Bookmarks</a>
            <a class="extra" href="https://github.com/692">GITHUB</a>
            <a class="extra" href="/blog/about.html">ABOUT</a>
            <a class="extra" href="/blog/feed.xml">RSS</a>
            <a class="extra" href="http://fjvi.xyz/" target="_blank">麦谷糖</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
              联系我 <<a href="mailto:6889692@gmail.com">Gmail</a>>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
